
@{
    ViewBag.Title = "MisPedidos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model TirabosqueDesireeTesis.Models.VMMipedido
<div class="container" style="margin-top:100px; padding-top: 50px">
    <h2>Mis Pedidos</h2>

    <table class="table">
        <tr>
            <th>
                N° PEDIDO
            </th>
            <th>
                USUARIO
            </th>
            <th>
                ESTADO
            </th>
            <th>
                TOTAL
            </th>
            <th>
               
            </th>
        </tr>

        @foreach (var item in Model.DTOPed2)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdPedido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.ActionLink("Ver Pedido", "VerPedido", new { id = item.IdPedido }, new { @class = "btn btn-secondary" })
                </td>

            </tr>
        }

    </table>
    <hr />
    
</div>